*{
	margin:0;
	padding:0;
	/* color:#aca; */
	/* font-family:'Arial'; */
	}

body {
    text-align: center;
    margin: 0;
    margin-top: 80px;
    margin-bottom: 80px;
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(to right, rgb(165, 183, 194), rgb(44, 102, 124));
}

body p {
    font-size: 2em;
    color: #33f;
    text-shadow: 2px 2px #444;
    margin-left: 25px;
    padding: 5px;
}

body h1, h2, h3 {
    font-size: 2em;
    padding: 50px;
}
#artigo {
    left: 30px;
}


footer {
    background: #444;
    color: #fff;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    padding-top: 20px;
    height: 60px;
    border-top: solid 5px #4faddb;
}


footer img {
    float: right;
    margin: 20px 10px 0 0;
    width: 30px;
    border-radius: 50%;
}