

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; */
    background: linear-gradient(to right, rgb(189, 195, 199), rgb(44, 62, 80));
}

#mainArticle h1, h2, h3{
    color: #F24356;

}