<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My page codes</title>
    <link rel="stylesheet" href="../assets/css/portifolio.css">
</head>

<body>
    <div>
        <img id="foto" width="56px">
    </div>
    <div id="nome"></div>
    <div id="bio"></div>
    <div id="lista-repositorios"></div>
    <div id="sobre-mim"></div>
    <div class="dashboard">
        <iframe title="FirstDashboardPowerBI - Página 1" width="100%" height="500px" src="https://app.powerbi.com/view?r=eyJrIjoiYmVlYTg5NzItZjc0ZC00N2MxLTkzN2ItMTFhODAyMWI3MWM4IiwidCI6ImFjZWI1YzY0LTI5NjgtNDMyNi1iOWJlLWZkNWFjZDk2NTEzMCJ9" style="display: none"></iframe>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../assets/js/api_github.js"></script>

</body>

</html>